@model IEnumerable<MyMentalHealth.Models.ResourceTypes>

@{
    ViewData["Title"] = "Index";
}




   
<div class="col-md-8 mt-5 mx-auto">
    <div class="d-flex justify-content-between  align-items-center">
        <h1>All Resources</h1>
        <a asp-action="Create" class="btn btn-outline-success">Create New Resource</a>

    </div>
   

    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

