@model IEnumerable<MyMentalHealth.Models.MentalHealthIssues>
@*@using MyMentalHealth.Models
@inject ConcreteMediator _concreteMediator;*@

@{
    ViewData["Title"] = "Index";
}
<div class="mt-5">
    <div class="d-flex justify-content-between  align-items-center">
        <h1>Content</h1>
        <a asp-action="Create" class="btn btn-outline-success">Create New</a>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)<br>
                        <a asp-action="Edit" class="btn btn-outline-primary m-1" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" class="btn btn-outline-secondary m-1" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" class="btn btn-outline-danger m-1" asp-route-id="@item.Id">Delete</a>
                        <a asp-controller="IssueItem" class="btn btn-outline-success m-1" asp-action="Index" asp-route-mentalHealthIssueId="@item.Id">Update</a>
                    </td>
                    <td class="text-center">
                        @* <a asp-action="Edit" class="btn btn-outline-primary mb-1"  asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-outline-secondary mb-1" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-outline-danger mb-1" asp-route-id="@item.Id">Delete</a>
                    <a asp-controller="IssueItem" class="btn btn-outline-success" asp-action="Index" asp-route-mentalHealthIssueId="@item.Id">Update</a>*@

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@*
    @{
            _concreteMediator.Colleague1 = item;
        }
        <a asp-controller="IssueItem" asp-action="Index" asp-route-mentalHealthIssueId="@_concreteMediator.Colleague1">Update Items</a>
    }

*@
