@model IEnumerable<MyMentalHealth.Models.IssueItems>

@{
    ViewData["Title"] = "Index";
}


<div class="mt-5">
    <div class="d-flex justify-content-between  align-items-center">
        <h3>Resources to cope with Mental Issues</h3>
        <a asp-action="Create" class="btn btn-outline-success" asp-route-mentalHealthIssueId="@ViewBag.MentalHealthIssueId">Create New</a>

    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit"  class="btn btn-outline-primary" asp-route-id="@item.Id">Edit</a> 
                        <a asp-action="Details" class="btn btn-outline-secondary" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
                    @if (item.ResourceTitle == "Article")
                    {
                        @if (item.ContentId == 0)
                        {
                                <a asp-controller="Content" asp-action="CreateArticle" class="btn btn-outline-success" asp-route-issueItemId="@item.Id" asp-route-mentalHealthIssueId="@item.MentalHealthIssueId">Add Article</a>
                        }
                        else
                        {
                                <a asp-controller="Content" asp-action="EditArticle" class="btn btn-outline-primary" asp-route-issueItemId="@item.Id" asp-route-mentalHealthIssueId="@item.MentalHealthIssueId">Edit Article</a>
                        }
                    }
                    else if (item.ResourceTitle == "Exercise")
                    {
                        @if (item.ContentId == 0)
                        {
                                <a asp-controller="Content" asp-action="CreateExercise" class="btn btn-outline-success" asp-route-issueItemId="@item.Id" asp-route-mentalHealthIssueId="@item.MentalHealthIssueId">Add Exercise</a>
                        }
                        else
                        {
                            <a asp-controller="Content" asp-action="EditExercise"  class="btn btn-outline-primary" asp-route-issueItemId="@item.Id" asp-route-mentalHealthIssueId="@item.MentalHealthIssueId">Edit Exercise</a>
                        }
                    }
                    else
                    {
                        @if (item.ContentId == 0)
                        {
                                <a asp-controller="Content" asp-action="CreateDefaultContent" class="btn btn-outline-success" asp-route-issueItemId="@item.Id" asp-route-mentalHealthIssueId="@item.MentalHealthIssueId">Add Content</a>
                        }
                        else
                        {
                            <a asp-controller="Content" asp-action="EditDefaultContent"  class="btn btn-outline-primary" asp-route-issueItemId="@item.Id" asp-route-mentalHealthIssueId="@item.MentalHealthIssueId">Edit Content</a>
                        }
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@*
    @if(item.ResourceTitle == "Article")
                        {

                        }
                        else if(item.ResourceTitle == "Exercise")
                        {

                        }
                        else
                {

                }
    asp-route-resourceTypes ="@ViewBag.ResourceTypes"*@