@model MyMentalHealth.Models.MentalHealthIssueDetailsModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpHttpContextAccessor;

@{
    ViewData["Title"] = "IssueContent";
}

<div class="mt-5">
    <div class="d-flex justify-content-between  align-items-center">
        <h3>Your Resources</h3>
        <a asp-action="ChooseIssues" class="btn btn-outline-dark">Choose Issues</a>
    </div>
    @if (Model.GroupItems != null)
    {

        
        @if (Model.GroupItems.Count() > 0)
        {

            <div class="row mt-3">
                <div class="col-md-12">

                    @foreach (var item in Model.GroupItems)
                    {
                        <div class="card mt-2">
                            <h4 class="mx-auto card-header text-secondary bg-white">
                                @item.Title
                            </h4>
                            <div>
                                
                                @foreach (var issueItem in item.Items)
                                {
                                    <div class="mt-2 p-3">
                                        <h5 class="card-title mt-2">
                                            @if (issueItem.ResourceTitle == "Article")
                                            {

                                                <a class="text-dark" asp-controller="Content" asp-action="ShowArticle" asp-route-ItemIssueId="@issueItem.IssueItemId">@issueItem.IssueItemTitle</a>

                                            }
                                            else if (issueItem.ResourceTitle == "Exercise")
                                            {
                                                <a class="text-dark" asp-controller="Content" asp-action="ShowExercise" asp-route-ItemIssueId="@issueItem.IssueItemId">@issueItem.IssueItemTitle</a>

                                            }
                                            else
                                            {
                                                <a class="text-dark" asp-controller="Content" asp-action="ShowDefault" asp-route-ItemIssueId="@issueItem.IssueItemId">@issueItem.IssueItemTitle</a>

                                            }
                                        </h5>
                                        <p class="card-text text-dark mt-2">
                                            @issueItem.IssueItemDescription
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
        else
        {
            <h4 class="mt-2 text-warning">You are currently not matched with any Issues</h4>

        }






    }
</div>

<style>
    a:hover {
      color: red;
    }
</style>






